body {
  margin: 0; 
  padding: 0; 
  font-family:sans-serif;
}

h1{ 
  height: 110px;
  line-height: 100px;
  padding-left: 120px;
  background: url(../img/icon.png) 10px no-repeat;
}


h1 input { 
  float:right;
  font-size:x-large;
  margin-right: 1em;
  margin-top: 25px;
}

nav {
  bottom: 0;
 background: yellow;
  right: 0;
  font-size: large;
  position: fixed;
}

nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  padding: 4px;
  list-style-type:none;
}
nav a {
  text-decoration: none;
  color:black;
  padding: .5em;
  line-height: 1em;
}

#main { 
  overflow:auto;
}

#demo { 
  float:right;
  width: 40%;
}

#narration { 
  padding: 2em;
  font-size: large;
  line-height: 120%;
  width: 40%; 
  float:left;
}

table#katakana { 
  font-size: x-large;
  width: 40%;
  float:right;
  background:#fff;
}

table#katakana a { 
  text-decoration: none;
}

table#katakana a:hover { 
  background-color: yellow;
}

blockquote  {
  border: 1px dotted black;
  padding: 1em; 
  font-size: small;
}

dt { 
  font-weight: bold;
  margin-top: .6em;
}

dd { 
  margin-top: .6em;
}

#level { 
  text-align: center;
}
#level li { 
  list-style-type: none;
  margin: 1em;
}

#level li a { 
  text-decoration: none;
  font-size: xx-large; 
}
