localdata
*.pyc
wppics/strokes/.orig/*
wppics/.orig/*

wppics/strokes/.orig/File:Japanese_Katakana_A_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_BA_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_BE_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_BI_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_BO_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_BU_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_CHA_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_CHI_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_CHO_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_CHU_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_DA_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_DE_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_DI_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_DO_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_DU_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_E_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_FU_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_GA_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_GE_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_GI_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_GO_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_GU_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_HA_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_HE_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_HI_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_HO_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_HU_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_HYA_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_HYO_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_HYU_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_I_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_JI_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_KA_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_KE_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_KI_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_KO_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_KU_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_KYA_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_KYO_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_KYU_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_MA_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_ME_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_MI_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_MO_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_MU_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_MYA_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_MYO_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_MYU_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_N_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_NA_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_NE_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_NI_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_NO_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_NU_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_NYA_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_NYO_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_NYU_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_O_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_PA_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_PE_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_PI_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_PO_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_PU_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_RA_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_RE_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_RI_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_RO_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_RU_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_RYA_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_RYO_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_RYU_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_SA_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_SE_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_SHA_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_SHI_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_SHO_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_SHU_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_SI_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_SO_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_SU_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_TA_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_TE_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_TI_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_TO_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_TSU_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_TU_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_U_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_WA_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_WE_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_WI_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_WO_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_YA_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_YO_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_YU_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_ZA_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_ZE_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_ZI_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_ZO_Stroke.png
wppics/strokes/.orig/File:Japanese_Katakana_ZU_Stroke.png
wppics/strokes/Japanese_Katakana_A_Stroke.png
