@import url('../../css/style.css');

h1 {
  background: none;
  padding: 0 10px;
  margin: 0;
  line-height: 1.5em;
  float: left;
}

h1 span.new_letter { 
  background: white;
  padding: 7px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid black;
  color: red;
}

nav a#home {
  float:left;
  width: 20%;
}

#sofar  {
  float: right;
  width: 20%;
  color: #666;
  font-size: small;
}

ol#level { 
  clear:both;
  text-align: center;
} 

#level li { 
  list-style-type: none;
  margin: 1em;
}

#level li a { 
  text-decoration: none;
  font-size: xx-large; 
}

nav {
  margin: 0 auto 4px;  
  overflow:auto;
  text-align: center;  
  display:block;  
  padding: 1em;
}

nav a#home, a.prev, nav a.next {
  font-weight:bold;
  padding: .5em;
  margin: 0 1em;
  text-decoration: none;
}

nav a.prev:before {
  content: "\25c0"

}

nav a.next:after {
  content: "\25b6"
}

nav a#home {
  float:left;
}
