@import url('../../css/style.css');

h1 {
  background: none;
  padding: 0 10px;
  margin: 0;
  line-height: 1.5em;
  float: left;
}

h1 span.new_letter { 
  color: red;
}

h2  {
  float: right;
  width: 20%;
  color: #666;
  font-size: small;
}

ol#level { 
  clear:both;
  text-align: center;
} 

#level li { 
  list-style-type: none;
  margin: 1em;
}

#level li a { 
  text-decoration: none;
  font-size: xx-large; 
}

nav a.prev:before {
  content: "\25c0"

}

nav a.next:after {
  content: "\25b6"
}
